/node_modules
/build
/dist
/es5
/dll
/.vscode
/src
/node_modules
.cache

__snapshots__

# testing
/coverage

yarn.lock
package-lock.json
Thumbs.db
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp
*.swo
*.log
*.log.*
*.json.gzip

index.html
.eslintrc
.gitignore
.babelrc
app.js

webpack.config.dev.js
webpack.config.prod.js

/doc
index.js