.slider {
  width: 200px;
  .slider-menu {
    margin-bottom: 1rem;
  }
  .slider-menu-label {
    font-size: 1rem;
    font-weight: 500;
  }
  .slider-menu-item {
    margin: 5px 0;
    display: block;
  }
}