.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  .desc {
    margin: 3rem 1rem;
  }
  .view {
    color: #fff;
    text-decoration: none;
  }
}


.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}